.DS_Store

node_modules/
!/node_modules
/node_modules/*
!/node_modules/fullcalendar-scheduler
/node_modules/fullcalendar-scheduler/*
!/node_modules/fullcalendar-scheduler/node_modules
/node_modules/fullcalendar-scheduler/node_modules/*
!/node_modules/fullcalendar-scheduler/node_modules/fullcalendar
/node_modules/fullcalendar-scheduler/node_modules/fullcalendar/*
!/node_modules/fullcalendar-scheduler/node_modules/fullcalendar/dist
/node_modules/fullcalendar-scheduler/node_modules/fullcalendar/dist/*
!/node_modules/fullcalendar-scheduler/node_modules/fullcalendar/dist/fullcalendar.js


/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
